@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}
html {
    scroll-behavior: smooth;
  }
:root {
    --wh: #ffffff;
    --gr: #808080;
    --br: #c38e3c;
    --sang: #92000a;
    --bl: #000000;
  }
html {
    font-size: 16px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: var(--wh);
}

.logo{
    display: flex;
}
.slietlogo{
    filter: invert(100%);
}
.techfestlogo{
    margin-left: 10px;
}
header {
    background-color: var(--bl);
    box-shadow: 0 10px 15px -3px 
rgba(0, 0, 0, 0.1),
        0 4px 6px -4px 
rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
header .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
header .logo img {
    height: 50px;
    display: block;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bl);
    padding: 20px;
    transition: left 0.3s;
}

.navbar.show {
    left: 0 !important;
}

.hide-scroll {
    overflow: hidden;
}

.navbar ul {
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.navbar ul a {
    all: unset;
    color: var(--gr);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}
.navbar ul a:hover {
    color: var(--wh);
    text-decoration: underline overline;
    text-decoration-thickness: 3px;
}

.close-nav {
    text-align: right;
    margin-bottom: 20px;
}
.close-nav button {
    all: unset;
    background: var(--wh);
    font-size: 42px;
    cursor: pointer;
    border: 1px solid 
rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 3px;
    color: var(--gr);
}
.close-nav button:hover {
    color: var(--wh);
    background: var(--wh);
}

.menu-bar button {
    border: 1px solid 
rgba(0, 0, 0, 0.1);
    background: var(--wh);
    height: 50px;
    width: 50px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
.menu-bar i {
    display: block;
    border-top: 3px solid var(--gr);
    border-bottom: 3px solid var(--gr);
}
.menu-bar i::after {
    display: block;
    content: "";
    border-top: 3px solid var(--gr);
    margin: 6px 0;
}
.menu-bar button:hover {
    background: var(--wh);
}
.menu-bar button:hover i {
    border-color: var(--bl);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

@media (min-width: 800px) {
    .navbar {
        all: unset;
        display: block;
    }
    .navbar ul {
        flex-direction: row;
        gap: 20px;
    }
    .navbar ul a {
        font-size: inherit;
    }
    .close-nav,
    .menu-bar {
        display: none;
    }
}
.parallex{
    background-image: url("techfestbg1.png");
    max-width: 100%;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* .container1{
    height: 1000px;
    background-color: #dee0e3;
} */
/* notification */
.notification{
    display: flex;
    justify-content: space-evenly;
    
    line-height: 1.6rem;
    letter-spacing: 0.1rem;
    padding: 10px;
    
}
.notice{
   width: 45%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 30px;
   
}
.announcement{
    width: 45%;
    padding: 20px;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.noticetag,.announcetag{
    font-family: Arial, sans-serif;
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
}

@media(max-width: 768px)
{
    .notification{
        flex-direction: column;
        
    }
    .notice{
        width: 100%;
        height: fit-content;
    }
    .announcement{
        width: 100%;
        margin-top: 20px;
        height: fit-content;
    }
    .parallex{
        background-image: url(tech.png);
    }
}
.notification a:hover{
    color: var(--sang);
}
 .button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--br);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

/* notification */
.container2{
    height: 1000px;
    background-image: url("subtheme.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    /* filter: blur(1.5px); */
}
.container3{
    height: 1980px;
    background-color: #dee0e3;
}
.container3 img{
    padding: 7px;
}
/* about */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    background-color: #dee0e3;
}
.heading{
    text-align: center;
    margin-top: 25px;

}
.heading h1{
    font-size: 50px;
    color: var(--br);

}
.heading p{
    font-size: 20px;
    color: var(--bl);
}
.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}
.carousel{
    flex: 0.50%;
    max-width: 50%;
    height: fit-content;
}
.content{
    padding: 35px;
}
.content h2{
    color: var(--gr);
    font-size: 24px;
    margin: 15px 0px;

}
.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}
.read-more-btn{
    display: inline-block;
    color: var;
    /* background-color: #0084ff; */
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}
/* .read-more-btn:hover{
    background-color: #006dd6;

} */
.aboutus-images{
    
    width: auto;
    text-align: center;
    height: auto;
}
.aboutus-images img{
    
    width: 500px;
    height: auto;
}
/* about us */
#about{
    padding: 80px 0;
    color: #ababab;
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--br);
}
.tab-titles{
    display: flex;
    justify-content: center;
    margin: 20px 0 40px;
}
.tab-links{
    display: flex;
    flex-direction: col;
    margin-right: 500px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--sang);
    position: absolute;
    left: 0;
    bottom:-8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: var(--sang);
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

  /* about us */
@media(max-width: 768px){
    .about-us{
        flex-direction: column;
    }
    .aboutus-img{
        width: fit-content;     
        flex: 100%;
        max-width: 100%;
    }
    .content{
        flex: 0 100%;
        max-width: 100%;
        padding: 15px;
    }
    .container3{
        height: 2950px;
    }
    
}
.tab-titles p{
    margin-right: 20px;
}
/* footer */




body{
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
}
.copy{
    color: var(--wh);
    text-align: center;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containe
{
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
    text-transform: capitalize;
    max-width: 1170px;
    margin: auto;
    
}
 .footer-col ul img{
filter: invert(100%);
image-rendering: auto;
size: 80px;
 }
 /* .footer-col p{
    text-align: center;
 } */
 /* .footer-col ul{
    color: white;
 } */
 .name{
    color: var(--wh);
    margin-left: 25px;
    
 }
.row
{
    display: flex;
    flex-wrap: wrap;
}

.footer
{
    background-color: var(--bl);
    padding: 70px 0;
}
.footer-col
{   
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: var(--wh);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: var(--wh);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul
{
    list-style: none;

}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: var(--wh);
    display: block;
    transition: all .3s ease;
}

.footer-col .social a{
    font-size: 28px;
    color: var(--wh);
    border: 1px solid var(--wh);
    width: 40px; 
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 25%;
    margin: 0 8px;
    opacity: 0.75;
    transition: all .5s ease;
 }
 .footer-col ul li a:hover{
    color: var(--wh);
    padding-left: 6px;
}
@media (max-width: 768px){
    .footer-col{
        /* border: 2px solid white; */
        flex-direction:row;
        text-align: center;
        align-content: center; 
        justify-content:center;
        float: none;
        width: 50%; 
        margin-bottom: 30px;

    }

}
#submit{
    background-color: var(--sang);
    
}
@media (max-width: 910px){
    .footer-col{
        /* border: 2px solid white; */
        flex-direction:row;
        text-align: center;
        align-content: center; 
        justify-content:center;
        float: none;
        width: 100%;
        
    }
    
}